body {
    padding: 0;
    margin: 0;
}

.dark {
    background-color: #333;
    color: white;
}

.dark button {
    background-color: white;
    color: #444;
}

.light {
    background-color: white;
    color: #333;
}

.light button {
    background-color: #444;
    color: white;
}